/cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.out
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-8f601443b228268f642b.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-bee98d75b2c46a8049ec.json
/cmake-build-debug/CMakeFiles/socketserver.dir/CXX.dd
/cmake-build-debug/CMakeFiles/socketserver.dir/CXXDependInfo.json
/cmake-build-debug/CMakeFiles/socketserver.dir/CXXModules.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-01-18T19-47-44-0138.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/socketserver
/cmake-build-debug/.cmake/api/v1/reply/target-socketserver-Debug-0e7e9c7294c4e382b7fe.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-b202573adb92d1fd7ac8.json
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-46ed47444d9e4a588aef.json
/cmake-build-debug/CMakeFiles/socketserver.dir/src/main.cpp.ddi
/cmake-build-debug/CMakeFiles/socketserver.dir/src/main.cpp.o
/cmake-build-debug/CMakeFiles/socketserver.dir/src/main.cpp.o.ddi
/cmake-build-debug/CMakeFiles/socketserver.dir/src/main.cpp.o.ddi.d
/cmake-build-debug/CMakeFiles/socketserver.dir/src/main.cpp.o.ddi.i
/cmake-build-debug/CMakeFiles/socketserver.dir/src/main.cpp.o.modmap
/.idea/misc.xml
/.idea/modules.xml
/.idea/socketserver.iml
/.idea/vcs.xml
/cmake-build-debug/.cmake/api/v1/reply/index-2025-01-18T22-02-21-0544.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-1d0fc12272c5902e7814.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-01-19T17-56-07-0197.json
/cmake-build-debug/.cmake/api/v1/reply/target-socketserver-Debug-a7f2fc3dbac31e237cef.json
/cmake-build-debug/CMakeFiles/socketserver.dir/src/client.cpp.ddi
/cmake-build-debug/CMakeFiles/socketserver.dir/src/client.cpp.o
/cmake-build-debug/CMakeFiles/socketserver.dir/src/client.cpp.o.ddi
/cmake-build-debug/CMakeFiles/socketserver.dir/src/client.cpp.o.ddi.d
/cmake-build-debug/CMakeFiles/socketserver.dir/src/client.cpp.o.ddi.i
/cmake-build-debug/CMakeFiles/socketserver.dir/src/client.cpp.o.modmap
/cmake-build-debug/CMakeFiles/socketserver.dir/src/emptys/message.cpp.ddi
/cmake-build-debug/CMakeFiles/socketserver.dir/src/emptys/message.cpp.o
/cmake-build-debug/CMakeFiles/socketserver.dir/src/emptys/message.cpp.o.ddi
/cmake-build-debug/CMakeFiles/socketserver.dir/src/emptys/message.cpp.o.ddi.d
/cmake-build-debug/CMakeFiles/socketserver.dir/src/emptys/message.cpp.o.ddi.i
/cmake-build-debug/CMakeFiles/socketserver.dir/src/emptys/message.cpp.o.modmap
